/* src/styles/DashboardSidebar.css */

/* Dashboard Sidebar */
.dashboard-sidebar {
    width: 250px;
    background-color: #1a202c; /* Dark background for sidebar */
    padding: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  /* Sidebar Title */
  .dashboard-sidebar-title {
    font-size: 1.75rem;
    font-weight: 700;
  }
  
  /* Sidebar Navigation */
  .dashboard-sidebar-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Sidebar Links */
  .dashboard-sidebar-link {
    display: block;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    color: #e2e8f0; /* Light gray */
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .dashboard-sidebar-link:hover {
    background-color: #2d3748; /* Darker gray on hover */
    color: white; /* White text on hover */
  }
  

  @media (max-width:768px){
    .dashboard-sidebar{
        top: 0;
        z-index: 5;
    }
  }