
  /* Transition for button hover effect */
  .signup-button {
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .signup-button:hover {
    background-color: #4f46e5; /* Slightly darker shade of Indigo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  /* Transition for error message appearance */
  .signup-error {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .signup-error.opacity-100 {
    opacity: 1;
  }
  
  /* Password toggle button hover effect */
  .password-toggle {
    transition: color 0.3s ease-in-out;
  }
  
  .password-toggle:hover {
    color: #4f46e5; /* Change color on hover */
  }
  


  
  .signup-button{
    background: #63dae5 !important;
  }
  .signup-button:hover {
    background: #fff !important;
    color: #63dae5 !important;
    border: 1px solid #63dae5 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  .signup-error {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .signup-error.opacity-100 {
    opacity: 1;
  }
  
 
  .second-box-layout{
    background-color:  #204c6a;
  }
  .second-box-content-custom{
    width: 100% !important;
    max-width: 70% !important;
    margin: auto;
  }
  .second-box-content-custom h3{
    text-align: justify;
    max-width: 96% !important;
    width: 100% !important;
    margin: 35px auto;
  }



  /* Floating label input container */
.floating-input-container {
  position: relative;
  margin-bottom: 20px; /* Adjust spacing as needed */
}

/* Floating input styles */
.floating-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0; /* Light gray background for inputs */
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus state */
}

.floating-input:focus {
  border-color: #4f46e5; /* Indigo border color on focus */
  box-shadow: 0 0 0 1px #4f46e5; /* Indigo outline shadow on focus */
  outline: none; /* Remove default outline */
}

/* Floating label styles */
.floating-label {
  position: absolute;
  left: 12px; /* Horizontal padding to match input */
  top: 50%;
  transform: translateY(-50%);
  background-color: #f0f0f0; /* Match input background */
  padding: 0 5px; /* Padding around label */
  font-size: 16px;
  color: #888; /* Light gray text color */
  transition: all 0.3s ease; /* Smooth transition for label */
  pointer-events: none; /* Prevent clicking on label */
}

/* Floating label active state (input focus or not empty) */
.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label {
  top: -12px; /* Position above the input */
  left: 10px; /* Align with input padding */
  font-size: 12px; /* Smaller font size */
  color: #4f46e5; /* Indigo color */
}
